

.footer{
    background-color: #e7e7e7;
}


html {
    width: 100%;
    height: 100%;

}

.center {
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.vertical-center {
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.horizont-center {
    display: flex;
    min-height: 0vh;
    align-items: center;
    justify-content: center;

}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;

}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: -10px;
    border-radius: 4px;
}


/*editaveis*/


.editar{position:fixed; height:100%; width:100%; background:rgba(0,0,0,0.4) center center no-repeat; left:0px; top:0px;     border: 2px; border-radius: 20px; border-color: #CCC; }
.editar form{position:absolute; left:40%; top:45%; padding:20px; background:#fff; width:600px; height:530px; margin-left:-160px; margin-top:-220px; }
.editar form label{display:block; margin-bottom:5px;}
.editar form label .campo{display:block; font-size:12px;}
.editar form label input{padding:5px; border:5px solid #CCC; width:280px;}
.editar form .btnedit{display:block; margin:5px 0 0 0; float:left; cursor:pointer;}
.editar form .btnclose{display:block; margin:5px 0 0 0; float:right; cursor:pointer;}

.ui-autocomplete-category {
    font-weight: bold;
    padding: 3.2px 6.4px;
    margin: 12.8px 0 3.2px;
    line-height: 1.5;
}

.ui-autocomplete.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size:12px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 300px;
}


.produto .ui-accordion {
    border: none;

}
.produto .ui-accordion .ui-accordion-icons{
    padding-left: 2.2em;

}
.produto strong {
    font-size: 12px;
}
.produto .ui-accordion-header{
    display: block;
    cursor: pointer;
    position: relative;
    margin: 1px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    font-size: 12px;
    border: none;
    background: none;

}
.produto  .ui-accordion-content{
    padding: 5px 15px;
    border-top: 0;
    text-align: justify;
    font-size: 10px;
    overflow: auto;
    border: none;
    background-color: #eeeeee;
}
.produto  .ui-state-focus{
    border: none;
}
.produto  .ui-state-active{
    border: none;
}
.produto  .ui-state-default{
    border: none;
}
.produto  .ui-corner-all {
    border: none;
}
.produto  .ui-corner-top{
    border: none;
}
.produto  .ui-accordion-header-active{
    border: none;
}


.produto-scroll{
    height: 250px;
    overflow-y: scroll;
}
.apolice table th{
    text-align: center;
    font-size: 13px;
}
.apolice table tbody td{
    vertical-align:middle;
    text-align: center;


}

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px;
    color:#ccc;
}

/*.scrolltable table {*/
    /*width: 100%;*/
/*}*/

/*.scrolltable thead, tbody, tr, td, th { display: block; }*/

/*.scrolltable tr:after {*/
    /*content: ' ';*/
    /*display: block;*/
    /*visibility: hidden;*/
    /*clear: both;*/
/*}*/

/*.scrolltable thead th {*/
    /*height: 30px;*/

    /*!*text-align: left;*!*/
/*}*/

/*.scrolltable tbody {*/
    /*height: 300px;*/
    /*overflow-y: auto;*/
/*}*/

/*.scrolltable thead {*/
    /*!* fallback *!*/
/*}*/


/*.scrolltable tbody td, thead th {*/
    /*width: 16%;*/
    /*float: left;*/
/*}*/


.table-fixed  thead {
    width: 97%;
}
.table-fixed tbody {
    height: 350px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}


.bgloading {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background: rgba(0, 0, 0, .48) url('../images/gear.gif') 50% 50% no-repeat;
    /*overflow: hidden;*/
}

.detalhe p {
    font-size: 70%;
    text-align: justify;
}
